Isaac Newton,isaac.newton@email.com,Mr
Archimedes of Syracuse,syracuse.archimedes@email.com,Dr
Leonhard Euler,leonhard.euler,Dr
Euclid of Alexandria,alexandria.euclid@email.com,Mr
Carl Friedrich Gauss,carl.gauss@email.com,Dr
Albert Einstein,albert.einstein@email.com,Mr