{
  "smtp": {
    "host": "smtp.gmail.com",
    "port": 587,
    "username": "username@gmail.com",
    "password": "yourTopSecretPassword",
    "from": "Your Awesome Nome"
  },
  "mail": {
    "subject": "My awesome subject"
  }
}